*{
margin: 0px;
padding: 0px;
}

.header .menu-home {
    padding: 0px 45px;
    position: fixed;
    z-index: 999999999999;
    display: table;
    width: 100%;
    background: #fff;
    height: 83px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    
}