*{
margin: 0px;
padding: 0px;
}

.covid{
    padding: 5px 10px;
    font-size: 20px;
    background:white;
    text-align: center;
    
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-weight: 700;
    
    z-index: 91;
    position: relative;
}
a.button{

    display: inline-flex;
    align-items: center;
    background: #ea1b3d;
    color: #fff;
    border: 2px solid #ea1b3d;

    border-radius: 5px;
    font-family: 'Avenir Medium';
    text-decoration: none;
    line-height: 1;
}